[Unit]
Description=Web service
After=network.target

[Service]
StandardOutput=journal
StandardError=journal

Type=simple
User=web

Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/srv/web
ExecStart=/usr/bin/npm start

Restart=always
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=3

SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
